<div class="container-xs">
  <h1>Auth#new</h1>
  <%= form_with scope: :auth, url: log_in_path, local: true do |f| %>
    <%= render 'shared/flash' %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, :placeholder => "test@example.com", required: true %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => "**********", required: true %>
    </div>
    <div>
      <%= f.submit "Submit", disable_with: 'Submiting...' %>
    </div>
  <% end %>
  <%= link_to "sign_up", sign_up_path %>
</div>
