<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Alpha2Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  </head>

  <body>
    <div class="container-md">
      <%= yield %>
    </div>
  </body>
</html>
